*{
    box-sizing: border-box;
    margin: 0px;
}


.container{
    display: grid;
    grid-template: 1fr 1fr 1fr /1fr;
    height: 100vh;
    width: 100%; 
}

.grid{
    display: grid;
    grid-template-columns: 100px 2fr;
    height: 100vh;
    width: 100%; 
}

.personal-click{
    height: 100vh;
    grid-column: 1/2;
    grid-row: 1/4;
    border: 1px solid;
    background-color: #222629;
}

.personal__container{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personal__img{
    height: 100px;
    width: 90%;
    background-image: url('./assets/escritorio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    height: 90px;
    width: 90px;
}

.name{
    font-size: 10px;
    color: #fff;
}

.tech{
    font-size: 8px;
    margin-top: 5px;
    color: #5f6365;
}

.profetional{
    height: 100vh;
    /* width: 290px; */
    grid-column: 1/2;
    grid-row: 1/4;
    border: 1px solid;
    background-color: #556461;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    position: relative;
}

.profetional-click{
    height: 100vh;
    grid-column: 2/3;
    grid-row: 1/4;
    overflow-x: hidden;
}

.toggleShow{
    position: fixed;
}

.profetional__intro{
    height: 300px;
    grid-row: 1/2;
    border: 1px solid;
}

.profetional__folio{
    height: 600px;
    grid-row: 2/3;
    border: 1px solid
}

.contact{
    height: 200px;
    grid-row: 3/4;
    border: 1px solid;
}